* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

main {
    max-width: 960px;
    min-width: 300px;
    width: 100%;
}

h1 {
    font-family:'Fredoka One';
    color: rgb(238, 68, 110);
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
